// 232 080808
// 233
$black: #1c1c1c;
// 235
$darker_gray: #303030;
// 237
$gray: #444444;
$slightly_lighter_gray: #4e4e4e;
// 240
// 241
// 242
// 243
// 244
// 245
// 246
// 247
$white: #a8a8a8;
// 249
$lighter_white: #b9b9b9;
// 250
// 251
$even_lighter_white: #d0d0d0;
// 253
// 254
// 255
$pure_white: #ffffff;

$red: #d75f5f;
$orange: #d7875f;
$green: #00875f;
$yellow: #87af00;
$blue: #005f87;
$blue_light: #bcdaf7;
$magenta: #af5fd7;
$cyan: #008080;
